.guage               { display: inline-block;
  .title             { font-size:18px; border-bottom: solid 1px #2a2b2b; padding:0 0 2px 0; margin:0 0 7px 0; }
  .arch              { display: inline-block; position: relative;
    .numbers         { position: absolute; bottom:0; left:50%; margin-left:-45px;
      .used, .alloc  { display:inline-block; font-size:24px; padding:0 5px;
        &.warm       { color:#FBB869}
        &.hot        { color:#C12026}
        &:after      { font-size:11px; display: block; }
      }
      .used          {text-align: right; border-right:solid 1px #2a2b2b; color:#575757;
        &:after      {content:"% used"}
      }
      .alloc         { color:#324964;
        &:after      {content:"% alloc"}
      }
    }
  }

  .sub-items         { display:inline-block; vertical-align:top; padding:15px;
    .sub-item        { font-size: 11px; padding:1px 0;
      .perc, .name   { display: inline-block;}
      .perc          { width: 25px;
        &:after      {content:"%"}
      }
    }
  }
}
