doctype html
html(lang="en")
  
  head
    title Speed Guage

    // build:css style.css
    link(href="stage/css/stage.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
    // endbuild
    
    script(src="//use.typekit.net/daj6bxq.js")
    script try{Typekit.load();}catch(e){}

  body
    // build:js js/libs.js
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/easeljs/lib/easeljs-0.8.0.combined.js")
    // endbuild

    // build:js2 js/app.js
    script(src="js/jade-templates.js")
    script(src="js/app.js")
    script(src="stage/js/init.js")
    // endbuild
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
